// Bu dosyayı .env olarak değiştirin

// Kıyı Emniyeti sayfasına giriş yapın. Cookie'lerin arasında yer alan "ASP.NET_SessionId" anahtarına karşılık gelen değeri buraya yapıştırın.
SESSIONID=

// QRZ.com XML API sayfasına giriş yapın. Kullanıcı adı ve şifrenizi kullanarak Session Key değeri oluşturun. Oluşturduğunuz değeri buraya yapıştırın.
QRZ_SESSION_KEY=

// Uygulamanızın çalışacağı port numarasını buraya yazın. Varsayılan olarak 3000'dir.
PORT=3000